{{#partial "content"}}

    <div class="container">

        <h2>ENTER ENDANGERED ANIMAL</h2>
        <form action="/rareform" method="post">
            <div class="form-group" >
                <label for="animalName">Enter Animal Name</label>
                <input type="text" class="form-control" name="animalName" id="animalName"  required>
            </div>
            <div class="form-group">
                <label for="health">Health</label>
                <select required class="form-select my-1" name="health"  id="health">
                    <option>Healthy</option>
                    <option>Okay</option>
                    <option>Ill</option>

                </select>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <select required class="form-select my-1" name="age"  id="age">
                    <option>Newborn</option>
                    <option>Young</option>
                    <option>Adult</option>

                </select>
            </div>

            <button type="submit" class="btn btn-info my-2 my-sm-0">ADD</button>
        </form>
    </div>
    </div>
{{/partial}}

{{>layout.hbs}}