{{#partial "content"}}
    <div class="container">
        <div class ="row">


                   {{#each rareanimals}}


                <div class = "col-sm-3">
                    <div class="card-body text-white bg-dark mb-5" style="width: 18rem;">


                    <p class="card-title">{{name}}</p><hr>
                    <p class="card-text">{{type}}</p>
                    <p class="card-text">{{health}}</p>
                    <p class="card-text">{{age}}</p>



                </div>
                </div>
                   {{/each}}


        </div>

    </div>
{{/partial}}

{{>layout.hbs}}