{{#partial "content"}}
    <div class="container">
        <div class ="row">
           {{#if allsightings}}
               {{#each rareanimals}}


                <div class = "col-sm-2">

                    <p>{{name}}</p>
                    <p>{{type}}</p>
                    <p>{{health}}</p>
                    <p>{{age}}</p>



                </div>
               {{/each}}
           {{/if}}
        </div>

    </div>
{{/partial}}

{{>layout.hbs}}