
{{#partial "content"}}

<div class="container">
<div style="background-color: #C7C6C1; width: 40%; margin-left: 10%; padding: 2%; text-align: center; font-family: fantansy;">
    <h2>RECORD SIGHTING</h2>
</div>
    <form action="/sightform" method="post">
        <div class="form-group">
            <label for="animalName">Animal Name</label>
            <input type="text" class="form-control" name="animalName" id="animalName"  required>
        </div>
        <div class="form-group">
            <label for="animalType">Animal Type</label>
            <select required class="form-select my-1" name="animalType"  id="animalType">
                <option value="Unthreatened">Unthreatened</option>
                <option value="Endangered">Endangered</option>
            </select>
        </div>

        <div class="form-group">
            <label for="rangerName">Enter Ranger Name</label>
            <input type="text" class="form-control" name="rangerName" id="rangerName" required>
        </div>
        <div class="form-group">
            <label for="badgeNumber">Enter Ranger badge number</label>
            <input type="text" class="form-control" name="badgeNumber" id="badgeNumber"  required>
        </div>
        <div class="form-group">
            <label for="contactInfo">Enter Ranger contacts</label>
            <input type="text" class="form-control" name="contactInfo" id="contactInfo"  required>
        </div>

        <div class="form-group">
            <label for="locationName">Location</label>
            <select required class="form-select my-1" name="locationName"  id="locationName">
                <option value="A">Zone A</option>
                <option value="B">Zone B</option>
                <option value="C">Zone C</option>
                <option value="D">Zone D</option>
            </select>
        </div>




        <button type="submit" class="btn btn-info my-2 my-sm-0">ADD SIGHTING</button>
    </form>
</div>


{{/partial}}

{{> layout.hbs}}